body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*{
	font-family: 'Lexend', sans-serif;
}
html, body{
	height: 100%;
}


button{
	outline: none;
	border: none;
}

.title{
	font-size: 70px;
	color: #75A4E1;
	margin-bottom: 100px;
	line-height: 0.0;
}

.section{
	width: 100%;
	padding: 80px 0;
	/*padding: 80px 100px 80px 100px;*/
}
.max-width-1900{
	max-width: 1900px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px;
}

.brighter{
	background-color: #292929;;
}
.darker{
	background-color: #191919;
}

p::selection{
	color: #14335C;
	background-color: #75a4e1;
}

@media(max-width: 1500px){
	.title{
		margin-bottom: 75px;
		font-size: 60px;
	}
}

@media(max-width: 1250px){
	.section{
		padding: 60px 0;
	}
	.title{
		font-size: 50px;
	}
}
@media(max-width: 550px){
	.section{
		padding: 30px 0;
	}
	.title{
		font-size: 50px;
	}
}
@media(max-width: 450px){
	.section{
		padding: 25px 0;
	}
}